<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1>Shake your own!</h1>

      <%= simple_form_for(@cocktail) do |f| %>
        <%= f.input :name %>
        <%= f.input :picture, as: :file %>
        <%= f.submit 'Create your cocktailðŸ¹' %>
      <% end %>
    </div>
  </div>
</div>
