.card-trip {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  height: 400px;
  // margin: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:  8px 9px 0px -2px rgba(255,123,242,0.8), 15px 14px 37px 10px #2281FF;
  margin-bottom: 40px;
}

// .card-trip > img {
//   height: 200px;
//   width: 100%;
//   object-fit: cover;
// }

.card-trip h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip a {
  text-decoration: none;
  color: white;
  &:hover {
    font-size: 18px;
    text-shadow:  -3px 4px #808d93, -4px 3px #cdd2d5, 2px 2px 2px rgba(189,33,206,0.52);
  }
}

// .card-trip-infos .card-trip-user {
//   position: absolute;
//   right: 16px;
//   top: -20px;
//   width: 40px;
// }
